#Hijo1{
    background-image: url(../img/escritorio.jpg);
    height: 1000px; 
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
#Hijo2{
    background-image: url(../img/astronauta.jpg);
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
}
#Hijo3{
    background-image: url(../img/controles.jpg);
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
}
